
@import url('https://fonts.googleapis.com/css2?family=Anta&family=K2D:ital,wght@1,800&family=Madimi+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    width: 100%;
}

body {
    width: 100%;
}

main {
    width: 100%;
}

header {
    height: 20vh;
    background-color: rgb(36, 36, 36);
    display: flex;
    justify-content: space-between;
}

nav {
    width: 30%;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#logo {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

ul {
    /*margin-top: 20px;*/
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.list {
    color: black;
    -webkit-text-stroke-width: 0.01px;
    -webkit-text-stroke-color: white;
    font-size: 25px;
    text-underline-offset: 5px;
    font-family: "Anta", sans-serif;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
}

.list {
    background-color: #000000;
    padding: 3px 0;
    position: relative;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.list:before {
    content: '';
    background: #000000;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.list:hover {
    background-position: 0;
}

.list:hover::before {
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
    font-size: 50px;
    font-family: "K2D", sans-serif;
    font-weight: 800;
    font-style: italic;
}

img {
    width: 100%;
    height: 75vh;
} 

#top_image {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    position: absolute;
    font-family: "Anta", sans-serif;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    font-size: 3rem;
    color: white;
}

#information {
    background-color: rgb(36, 36, 36);
    height: 200vh;
}

#article_div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.articles {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 2rem;
    padding: 1rem;
    width: 30%;
}

.article_text {
    padding-top: 1rem;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.article_h3 {
    font-size: 2rem;
    font-family: "Anta", sans-serif;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
}